{
  "env": {
    "browser": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": "> 0.25%, not dead"
          }
        ],
        "babel-preset-minify"
      ],
      "comments": false,
      "plugins": [
        "remove-import-export",
      ]
    }
  }
}