{
  "presets": ["@babel/preset-env"],
  "env": {
    "browser": {
      "presets": ["@babel/preset-env", "babel-preset-minify"],
      "comments": false,
      "plugins": ["remove-import-export"]
    }
  }
}
